@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="@Url.Content("~/Content/images/Library.jpg")" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <h1>Library - World of Wisdom</h1>
        <p id="para">A library is a collection of books, and possibly other materials and media, that is accessible for use 
        by its members and members of allied institutions. Libraries provide physical (hard copies) or digital access
        (soft copies) materials, and may be a physical location or a virtual space, or both. A library's collection 
        normally includes printed materials which can be borrowed, and a reference section of publications which 
        are not permitted to leave the library and can only be viewed inside the premises. There may be other 
        physical resources in many formats, such as commercial releases of films, television programmes, 
        other video recordings, radio, music and audio recordings on DVD, Blu-ray, CD and cassette, 
        besides access to information, music or other content held on bibliographic databases.</p>
    </div>
</div>

<style>
    h1 {
        text-align: center;
        text-decoration-line: underline;
        color: #0C356A;
    }
    #para {
        margin:10px 5px 10px 5px;
        font-size: 16px;
        font-family: 'Times New Roman';
        font-weight: 600;
        line-height: 1.2;
        color: #9400FF;
    }
</style>