
@{
    ViewBag.Title = "Error500";
}

<div class="text-center">
    <img src="@Url.Content("~/Content/images/500error.png")" alt="error500" class="img-responsive" />
    <a href="@Url.Action("Index","Home")" class="btn btn-primary">
        <i class="fa-solid fa-house" style="color: #ffffff;"></i> Home</a>
</div>


<style>
    body {
        margin-top: 3em;
    }

    img {
        margin: 2em auto 0 auto;
        max-height: 425px;
    }
</style>