
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Your Payment was Succeeded..</h2>
    <a href="@Url.Action("Index1", "Fine")" class="btn btn-info">Continue</a>
</div>

<style>
    body{
        margin-top:3em;
    }
</style>